@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --blue: #5f9ea0;
  --white: #ffffff;
  --orange: #ed9121;
  --black: #333333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  min-height: 100vh;
  width: 100%;
  background-color: var(--white);
}
a {
  text-decoration: none;
}
.header {
  width: calc(100% - 2rem);
  height: 80px;
  background-color: #fffffff5;
  padding: 0 1rem;
  border-radius: 0rem 0rem 1rem 0rem;
  box-shadow: 1px 1px 10px 0px var(--orange);
  position: fixed;
  top: 0;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
}
.bt-shop {
  text-decoration: none;
  color: var(--black);
  font-size: 2rem;
  font-weight: 700;
}
.nav_list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2rem;
}

.nav_item {
  color: var(--black);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.3rem 0.5rem;
  background-color: var(--orange);
  border: 1px solid transparent;

  transition: all 0.3s ease;
}
.nav_item:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--orange);
}
.content {
  display: block;
}
.intro_section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  background-image: url(./images/cover_image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 80px;
}
.landing_hero {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-top: 7rem;
}
.landing_hero_text {
  width: 35%;
  text-align: right;
  padding: 1rem;
  background-color: #333333a9;
  box-shadow: 0px 0px 30px 0px var(--white);
  border: 2px solid var(--orange);
}
.landing_icon {
  width: 30px;
}
.landing_icon img {
  width: 100%;
}
.title {
  font-size: 2.5rem;
  font-weight: 900;
  color: var(--white);
  letter-spacing: 1px;
}
.sub_title {
  color: var(--orange);
  letter-spacing: 3px;
}
.get_started_btn {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: var(--white);
  background-color: var(--orange);
  font-size: 1rem;
  font-weight: 700;
  border: 1px solid var(--white);
  cursor: pointer;
  transition: all 0.2s ease;
}
.get_started_btn:hover {
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--orange);
  scale: 1.1;
}
.feature_section {
  width: 100%;
  min-height: 100vh;
  background-color: var(--white);
  padding: 80px 1rem;
  border-bottom: 1px solid var(--orange);
  display: flex;
  flex-direction: column;
}
.feature_section_title {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  color: var(--white);
  padding: 0.5rem 1rem;
  background-color: var(--orange);
  margin: 1rem;
}
.articles {
  min-height: calc(100vh - 237px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem;
}
.feature {
  width: 35%;
  background-color: var(--black);
  padding: 2rem 3rem;
  border-radius: 0rem 0.5rem 1rem 0rem;
}
.feature h1 {
  color: var(--white);
  font-weight: 900;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--orange);
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.feature p {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 600;
  text-align: justify;
}
.shopping_cart {
  align-self: center;
}
.filtering {
  align-self: flex-end;
}
.about_section {
  min-height: 100vh;
  padding: 80px 2rem;
}
.about_section_title {
  font-size: 1.4rem;
  font-weight: 500;
  font-style: italic;
  color: var(--white);
  padding: 0.5rem 1rem;
  background-color: var(--orange);
  margin: 1rem 0;
}
.about_section_content {
  width: 100%;
  height: calc(100vh - 237px);
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}
.about_project {
  width: 40%;
}
.about_project p {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--black);
  text-align: left;
}
.about_me {
  width: 40%;
  background: var(--black);
  padding: 1rem 2rem;
  transition: 1s ease-in-out;
  clip-path: polygon(
    30px 0%,
    100% 0,
    100% calc(100% - 30px),
    calc(100% - 30px) 100%,
    0 100%,
    0% 30px
  );
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about_me_title {
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem;
  /* margin: 0.5rem 0; */
}
.about_me p {
  color: rgb(214, 206, 206);
  font-size: 0.75rem;
  font-weight: 500;
  text-align: justify;
  /* margin-bottom: 2rem; */
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.fa-brands {
  color: var(--orange);
}
.footer-content {
  width: 100%;
  height: 80px;
  border-top: 3px solid var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
}
.copyright {
  color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.link {
  color: var(--orange);
  font-size: 1rem;
  font-weight: 600;
  margin: 0 5px;
}
